


body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  background-color: lightgreen;
}
h1, h2, h3 {
  font-family: "Montserrat", "sans-serif";
}

h1 {
font-size: 80px;
text-align: center;
}

img {
  width: 300px;
}

