


body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  background-color: greenyellow;
}
h1, h2, h3 {
  font-family: "Montserrat", "sans-serif";
}

img {
  width: 300px;
}

